{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Passenger Registration</title>
    <link rel="stylesheet" href="/static/css/regestration.css">
</head>
<body>
    <div class="container">
        <h2>Passenger Registration</h2>
        <form method="post" action="">
            {% csrf_token %}
            
            {{ form.as_p }}
        
            {% if messages %}
                <div>
                    {% for message in messages %}
                        <p class="error">{{ message }}</p>
                    {% endfor %}
                </div>
            {% endif %}
            
            <div class="action-buttons">
                <button type="submit" class="toggle-button">Register</button>
                <a href="{% url 'login' %}" class="toggle-button">Back to Login</a>
            </div>
        </form>
        
    </div>
</body>
</html>
